

main{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    height: 100vh;
}

.pokedex-table{
    display: table;
    width: 100%;
    height: 100%;
    text-align:center;
    font-size: x-large;
    padding: 25px;
}
.pokedex-table tbody {
    height: 100%;
    display: table-row-group; 
}
/* .pokedex-table tr {
    height: 10vh; 
}
.pokedex-table p{
    font-size: x-large;
} */
.pokedex-table img{
    width: 9vw;
}
