* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
}

header{
    background-color: gray;
    display: flex;
    justify-content: space-between; /* Gives a space in between nav and login */
    align-items: center;
    padding: 2vh 3vw;
    width: 100vw;
    flex: 1 0 auto;
    font: 4vh;
}
header h1{

}
nav{
    font-size: 3vh;
    display: flex;
    gap: 2.5vw;
}
nav a {
    color: black;
    text-decoration: none;
  }
nav a:hover {
    background-color: #555;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main h1{
    text-align: center;
    font-size: 6vh;
}
.login{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vw;
    /* border: 1px solid #ccc; adds a thin border around the div  */
}
form{
    /* width: 100%;
    height: 3vh; */
}


footer{
    display: flex;
    background-color: gray;
    padding: 2vh 3vw;
    width: 100vw;
    flex: 1 0 auto;
    color: black;
    text-decoration: none;
    font-size: 3vh;
}
footer a {
    color: inherit; 
    text-decoration: none; 
}
footer a:hover{
    background-color: #555;
}