
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.5rem;

}
main > h1{
    text-align: center;
    /* font-size: 200px; */
    
}
.catch-container{
    display: flex;
    flex-direction: column;
    padding: 3vh 3vw;
    align-items: center;
    justify-content: center;
}
.default-image{
    width: 96vw;
    image-rendering: pixelated;
}
.pokemon-image{
    width: 30vw;
    image-rendering: pixelated;
}
.encounter-button button{
    width: 20vw;
    height: 5vh;
    font-size: 2vw;
}
.encounter-btn{
    background-color: green;  
    color: white;               
    padding: 12px 24px;         
    border: none;               
    border-radius: 4px;
    font-size: 16px;            
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    margin: 10px;
  }

/* Hover state */
.encounter-btn:hover {
  background-color: darkgreen;
}

.catch-btn{
    background-color: red;  
    color: white;               
    padding: 12px 24px;         
    border: none;               
    border-radius: 4px;
    font-size: 16px;            
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    margin: 10px;
  }

/* Hover state */
.catch-btn:hover {
  background-color: darkred;
}


.encounter-button{
    padding: 3vh 3vw;
}
.catch-messages p{
    padding: 1vh 3vw;
}


