
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.5rem;

}
main > h1{
    text-align: center;
    /* font-size: 200px; */
    
}
.encounter img{
    width: 96vw;
    border: 10px black;
    image-rendering: pixelated;
    /* position: absolute; */
    
    
}
.encounter-button button{
    width: 20vw;
    height: 5vh;
    font-size: 2vw;
}
.encounter{
    display: flex;
    flex-direction: column;
    padding: 3vh 3vw;
    align-items: center;
    justify-content: center;
}
.encounter-button{
    padding: 3vh 3vw;
}
.catch-messages p{
    padding: 1vh 3vw;
}
