
main{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    height: 100vh;
}
.collection-table{
    /* display: flex; */
    text-align:center;
    font-size: x-large;
}
.collection-table img{
    width: 200px;
}

